.Content{
height:100vh;
width:100vw;
display:flex;
justify-content:center;
align-items:center;
}

.first{
background-color:red;
}
.second{
background-color:orange;
}
.third{
background-color:green;
}
.four{
background-color:blue;
}